@font-face {
  font-family: 'Kuro Regular';
  src: url('kuro-regular-webfont.woff2') format('woff2'),
    url('kuro-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'kuro-bold';
  src: url('../fonts/kuro-bold-webfont.woff2') format('woff2'),
    url('../fonts/kuro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
